@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-sidebar: #1E293B;
  --color-page-bg: #F8FAFC;
}

body {
  background-color: #F8FAFC;
  color: #0f172a;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, sans-serif;
}
